div.customer-list-item {
	vertical-align: middle;
	width: 100%;
} 
.customer-list-item span {
	
	width: 100%;
}
.customer-list-item-id {
	clear: left;
	font-weight: bold;
}
.customer-list-item-name {
	clear: both;
}
.customer-list-item-address {
	display:block;
	width: 100%;
	font-size: 0.7em;
	color: grey;
}

.customer-list-item .mat-icon {
	padding: 0px 10px;
	line-height: 25px;
}

.mat-toolbar {
	padding-left: 0px; 
}
.mat-list-item mat-icon {
	font-size: 24px;
	width: 24px!important;
	padding-left: 0px!important;
	margin-left: 0px!important;
}