<mat-card class="example-card" >
	<form novalidate [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="example-container">
	 	<mat-card-header>	 	
	 	 	<div mat-card-avatar><mat-icon>account_circle</mat-icon></div>
			<mat-card-title><h2>{{customerForm.controls['name'].value + ' ' + customerForm.controls['address'].value | titlecase}}</h2></mat-card-title>
    	</mat-card-header>		
		<mat-card-content>			
			<mat-form-field class="field-25-width">
				 <input matInput placeholder="Id" [readOnly] [value]="id"> 
			 </mat-form-field>
			
			<mat-form-field class="field-half-width">
				<input matInput  placeholder="Nombre" formControlName="name">
			</mat-form-field>
			<mat-form-field class="field-25-width"> 
				<input matInput  placeholder="CIF" formControlName="cif"> 
			</mat-form-field>
			
			<mat-form-field class="field-full-width"> 
				<input matInput  placeholder="Direccion" formControlName="address"> 
			</mat-form-field>
	
			<mat-form-field class="field-33-width">				
				<input matInput  placeholder="Codigo Postal" formControlName="postCode">
			</mat-form-field>
	
			<mat-form-field class="field-33-width">
				 <input matInput  placeholder="Poblacion" formControlName="city"> 
			</mat-form-field>
	
			<mat-form-field  class="field-33-width">
				<input matInput placeholder="Provincia" formControlName="province"> 
			</mat-form-field>
	
	
			<mat-form-field class="field-25-width"> 
				<input matInput  placeholder="Telefono" formControlName="phone">
			</mat-form-field>
			<mat-form-field class="field-25-width">
				<input  matInput  placeholder="Fax" formControlName="fax">
			</mat-form-field>
				<mat-checkbox matInput>Facturas</mat-checkbox>
		</mat-card-content>	
		<mat-card-actions>
			<button  mat-raised-button type="submit"  color="primary"  [disabled]="!customerForm.valid">Guardar</button>
			<button type="button"  mat-raised-button color="warn"  (click)="redirectCustomerPage()">Descartar</button>
		</mat-card-actions>
	</form>		
</mat-card>
<mat-card class="example-card">	

	<mat-card-header>
 	 	<div mat-card-avatar><mat-icon>business_center</mat-icon></div>
		<mat-card-title><h2>Facturas</h2></mat-card-title>
		<div class="mat-card-header-action" ><button mat-mini-fab color="primary"><mat-icon>add</mat-icon></button></div>
	</mat-card-header>	
	<mat-card-content>
		<mat-tab-group (selectedTabChange)="tabChanged($event)">
			<mat-tab *ngFor="let year of years" [label]="year" >
		   	  <div class="demo-tab-content">
					  <mat-table  [dataSource]="dataSource">
						<ng-container matColumnDef="id">
						    <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
						    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
						  </ng-container>
						  
						  <ng-container matColumnDef="year">
						    <mat-header-cell *matHeaderCellDef> A&#241;o </mat-header-cell>
						    <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
					 	 </ng-container>
					
					      <ng-container matColumnDef="date">
						    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
						    <mat-cell *matCellDef="let element"> {{element.date}} {{element.date | date: 'yyyyMMdd'}} </mat-cell>
					 	 </ng-container>
					 	  <ng-container matColumnDef="actions">
							<mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell> 
								<mat-cell *matCellDef="let element">
									<button mat-icon-button aria-label="Editar" type="button" class="btn btn-success" (click)="editInvoicePage(element)"><mat-icon>edit</mat-icon></button>
									<button mat-icon-button  aria-label="Eliminar" type="button" class="btn btn-danger" (click)="openConfirmation(element);"><mat-icon>delete</mat-icon></button>
								</mat-cell>
							</ng-container>		
					    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		 			</mat-table>     
		 			<mat-paginator #paginator [pageSize]="5" (page)="pageEvent = onPaginationChange($event)"> </mat-paginator>
			    </div>
			</mat-tab>
		</mat-tab-group>	
	
	</mat-card-content>  	
  
</mat-card>
  