
.field-10-width {
	width: 10%;
}

.field-15-width {
	width: 10%;
}

.field-25-width {
	width: 25%;
}

.field-33-width {
	width: 33%;
}

.field-40-width {
	width: 40%;
}

.field-half-width {
	width: 49%;
}

.field-75-width {
	width: 75%;
}

.field-full-width {
	width: 100%;
}