.alert {
  width:200px;
  margin-top:20px;
  margin-bottom:20px;
}

.alert.alert-error {
  color:red;
}
 
.help-block {
  width:200px;
  color:white;
  background-color:gray;
}
 
.login-card {
	width: 400px;	
}

.login-card-image {
  background-image: url('/assets/images/customer.png');
  background-size: cover;
}
.login-card .mat-card-actions {
	text-align: center;	
}

.main-div{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

